{% extends 'base.html.twig' %}

{% block title %}Le panier {% endblock %}

{% block body %}

    <h1>Le panier</h1>

    {% if items | length > 0 %}
    

    <table class="table">
        <thead>
            <tr>
            <th>Produit</th>
            {# <th>Catégorie</th> #}
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    {# <td>{{ item.product.category }}</td> #}
                    <td>{{ item.product.price }}</td>
                    <td>
                        <a href="{{ path("cart_add", {'id': item.product.id}) }}?returnCart=true" class="btn btn-info btn-sm"> {#? returnCart => permet de retourner vue panier au lieu de la redirection prévue (controller add)#}
                        <i class="fas fa-plus"></i></a>
                        {{ item.quantity }}
                        <a href="{{ path("cart_decrement", {'id': item.product.id}) }}" class="btn btn-info btn-sm">
                        <i class="fas fa-minus"></i></a>
                    </td>
                    <td>{{ item.total }}</td>
                    <td>
                    
                    <a href="{{ path("cart_delete", {'id': item.product.id}) }}" class="btn btn-danger"> <i class="fas fa-trash"></i> Supprimer</a>
                    
                    
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total :</td>
                <td colspan="2">{{ total }}</td>
            </tr>
        </tfoot>

    </table>
    <hr>

    {% if app.user %}
    
    
    <h2>Confirmez votre commande ICI !</h2>
    <p>remplissez le formulaire ici</p>

    {{form_start(confirmationForm, {'action': path('app_purchase_confirmation')})}}

    {{form_errors(confirmationForm)}}

    {# Si le btn est ici, visuellement il est en haut du form. #}
    {# Si le btn est après , il ne fonctionne pas, car hors du form #}
    <button type="submit" action='app_purchase_confirmation' class="btn btn-success mb-2">
    <i class="fas fa-check"></i> Je confirme !!
    </button>

    {{form_end(confirmationForm)}}

    {% else %}
        <h2>Vous devez être connecté pour confirmer la commande !!!!</h2>
    
    <a href="{{path('app_login')}}" class="btn btn-success m-2">Se connecter</a>
    ou 
    <a href="#" class="m-2">Créer un compte</a>
    {% endif %}
    


{% else %}
    <h2>Le panier est vide (pour l'instant !!!)</h2>
{% endif %}

{% endblock %}
