{% extends "base.html.twig" %}

{% block title %}
    Edition de {{product.name}}
{% endblock %}

{% block body %}
    <h1>Edition de {{product.name}}</h1>

    {{form_start(formProduct)}}

    {{form_errors(formProduct)}}

    <div class="row">
        <div class="col">
            {{form_row(formProduct.name)}}
            {{form_row(formProduct.price)}}
        </div>

        <div class="col">
            {{form_row(formProduct.picture)}}
            {{form_row(formProduct.category)}}
            {{form_row(formProduct.description)}}

        </div>
    </div>


    <button type="submit" class="btn btn-warning">
    <i class="fas fa-check"></i> Modifier le produit
    </button>

    {{form_end(formProduct)}}
{% endblock %}