{% extends "base.html.twig" %}

{% block title %}
    Page de {{product.name}}
{% endblock %}

{% block body %}

    {# Breadcrumbs #}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('homepage')}}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{path('product_category', {'slug': product.category.slug})}}">{{product.category.name}}</a></li>
        <li class="breadcrumb-item active">{{product.name}}</li>
    </ol>



    <h1>{{product.name}} ({{product.price / 100}} &euro;)</h1>

    <div class="row">
    
    <div class="col-4">
        <img class="img-fluid" src="{{product.picture}}" alt="image du produit">
    </div>
    <div class="col">
        <span class="badge bg-info">{{product.category.name}}</span>
        <p>{{product.description}}</p>
        <a href="#" class="btn btn-success btn-lg"><i class="fas fa-shopping-cart"></i> Ajouter au panier </a>

        {# ! Boutton edition product ! #}
        {# <a href="{{path('admin/product/{id}/edit')}}" class="btn btn-info mt-1">Modifier</a> #}
        {# <a href="{{path('Back_admin_product_edit')}}" class="btn btn-warning btn-lg"><i class="fas fa-shopping-cart"></i> Modifier </a> #}
    </div>



    
    
    </div>
{% endblock %}