{# homepage with Bootswatch & FontAwesome => basic for testing application #}

{% extends "base.html.twig" %}

{% block title %}
    Accueil e-shop Garden
{% endblock %}

{% block body %}

    <h1>Nos principaux produits</h1>
    <div class="row">

        {% for p in products %}
            
        <div class="col">
            <div class="card">
                <img src="{{p.picture}}" class="img-fluid" alt="Image du produit">

                <div class="card-body">
                    <h4 class="card-title">{{p.name}} ({{p.price / 100}} &euro;)</h4>
                    <span class="badge bg-primary disabled">
                        {{p.category.name}}
                    </span>
                    <p class="card-text">{{p.description}}</p>
                    <a href="{{path('product_show', {'category_slug': p.category.slug, 'slug': p.slug})}}" class="btn btn-info mt-1">Détail</a>
                    <a href="#" class="btn btn-success mt-1">Ajouter au panier</a>
                </div>
            
            </div>
        </div>

        {% endfor %}

    </div>

    <br>
    <hr>
    <br>


    <h1>Les catégories existantes</h1>
    <div class="row">

        {% for c in category %}
            
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{c.name}}</h4>
                    <img src="{{c.picture}}" class="img-fluid" alt="Image de la catégorie">
                    <a href="{{path('product_category', {'category_slug': c.slug, 'slug': c.slug})}}" class="btn btn-info btn-sm mt-1">Détail</a>
                </div>
            
            </div>
        </div>

        {% endfor %}

    </div>

    <br>
    <hr>
    <br>


    <h2>Un service optimal</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At totam ea quo sed in atque eveniet accusantium placeat impedit provident.</p>

    <div class="row">
        {% include "layout/_assurance.html.twig" with 
        {
            'color': 'success',
            'icone': 'fas fa-check',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. At modi iusto quam illum natus quia earum accusantium aut dolorem doloremque!"
        } %}

        {% include "layout/_assurance.html.twig" with 
        {
            'color': 'info',
            'icone': 'fas fa-truck',
            'text': "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis adipisci pariatur ducimus alias quia quaerat quibusdam distinctio similique quo odio."
        } %}

        {% include "layout/_assurance.html.twig" with 
        {
            'color': 'warning',
            'icone': 'fas fa-lock',
            'text': "Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sint quis, nulla illum ut iure error? Aliquam a eius iste."
        } %}

    </div>

{% endblock %}